<p class="color-panel-fb ">
	<img src="../img/FB-f-Logo__blue_72.png" class="logo-facebook" alt="facebook">
	<b>Publicaciones</b>
</p>
<div class="fb-like-box"  data-href="https://www.facebook.com/Cursameoficial" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>